

body{
	background-color:#ecf0f1;
}

.row-top {
	padding-top: 50px;
}

.header {
 
  font-size: 250%;
}

.header1 {
	font-size:100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.body1{
	background-color:#95a5a6;
}

table{
	 position:center;
         
}

.chill{
	font-size:150%;
}

.table1{
	text-indent: 50px;
}

.indent{
	list-style-position: outside;
}

.verticalLine {
    border-left: 1px solid #ccc;
}

