.container{
	width: 795px;
	min-height: 850px;
	background-color: #FFFFFF;
	position: relative;
	border-top: 5px solid #D9B860;
	border-bottom: 5px solid #D9B860;
}

.wrapper{
	margin: 30px;
	width: 735px;
	min-height: 850px;
	margin-bottom: 0;
}

.center{
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
}

.row1_header{
	width: 100%;
	min-height: 50px; 
}

.row2_aboutMark{
	width: 100%;
	border-top: 1px solid #CCCCCC;
	border-bottom: 1px solid #CCCCCC;
	background-color: #F2F2F2;
	overflow: hidden;

}

.row3_clients{
	width: 100%;
	min-height: 320px;
	margin-left: 10px;
}

.row4_news{
	min-height: 200px;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid #CCCCCC;

}


.row3_clients p{
	margin-right: 33px;
}
.row5_footer{
	width: 100%;
	min-height: 80px;
	overflow: hidden;
	border-top: thin solid #CCCCCC;
}


.header_margin{
	margin-top: 10px;
}

.header_buttons{
	margin-right: 9px;
	margin-top: 5px;
	float: right;
}

.row2_aboutMark div {
	width: 225px;
	min-height: 94px;
	float: left;
	margin-left: 10px;
	margin-right: 10px;

}

.row2_aboutMark p{
	margin-top: 50px;
}

.row3_left{
	width: 50%;
	float: left;
	margin-top: 20px;
	overflow: hidden;
	margin-bottom: 20px;
}

.row3_right{
	width: 50%;
	float: left;
	margin-top: 20px;
	overflow: hidden;
}


.col1_news{
	width: 70%;
	min-height: 200px;
	float: left;
	overflow: hidden;
	display: inline;
	border-right: thin solid #CCCCCC;
	margin-bottom: 10px;
}

.col2_news{
	width: 29%;
	float: left;
	overflow: hidden;
}

.icon_margin{
	margin-top: 15px;
}
.row5_left{
	width: 70%;
	float: left;
}

.row5_right{
	min-width: 20%;
	margin-right: 15px;
	float: right;
}

.page_footer{
	min-height:20px;
	width: 795px;
}

.align_center{
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
}

.gray{
	color: #4E4E4E;
}

.row5_left p{
	font-size: 13px;
	font-family: Georgia, serif;
}
.black{
	color: #000000;
}

.list{
	list-style-type:square;
	margin-top: 10px;
}


.row5_right ul li{
	display: inline;
}


.margin_right{
	margin-right: 10px;
	margin-left: 120px;
}

.thumbnail{
	float: left;
}

.t1{
	margin-top: 16px;
}

.client p{
	margin-right: 20px;
}

.recent_news{
	margin-left: 120px;
	font-family: Georgia, serif;
	font-weight: normal;
	font-size: 15px;
	font-style: italic;
	margin-top: 20px;
}

.btn{
	background-color: #FFFFFF;
	border-style: groove;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 12px;
}

.row2_aboutMark p{
	color: #4E4E4E;
}

p{
	font-size: 13px; 
	margin-bottom: 30px;
	font-family: Georgia, serif;
}

body{
	background-color: #7F7F7F;
}

h2{
	margin-bottom: 0px;
	float: left;
	margin-left: 0px;
	font-size: 22px;
	
}

h3{
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 1px;
	font-size: 30px;
}

h4{
	font-size: 20px;
	margin-left: 120px;

}

h6{
	margin-top: 20px;
	margin-left: 10px;
	font-size: 15px;
	font-style: italic;
}

h4, h6{
	font-family: Georgia, serif;
	font-weight: normal;

}

h2, h3{
	font-family: "Times New Roman", Georgia, Serif;
	font-style: normal;
	font-weight: normal;
}