.wrapper{
	width: 960px;
	min-height: 450px;
	border: 1px solid black;
	margin-top:0; 
    margin-right:auto; 
    margin-bottom:0; 
    margin-left:auto;
}

.header{
	min-height: 150px;
	width: 960px;
	background-color:gray;
}

.footer{
	min-height: 100px;
	width: 960px;
	background-color: red;
	overflow: hidden;
}

.body{
	display: flex;
    width: 960px;
    min-height: 200px;
}

.left{
	background-color: green;
	width: 160px;
	min-height: 200px;
	overflow: hidden;
	position: relative;
	float: left;

}

.small_box {
	width: 10px;
	min-height: 10px;
	background-color: white;
	position: absolute;
}

.bigger_box{
	width: 30px;
	min-height: 30px;
	background-color: white;
	position: absolute;
}

.left_box1{

	top:0;
}

.left_box2{
	top: 0;
	right: 0;
}

.left_box3{

	bottom: 0;
}

.left_box4{

	bottom: 0;
	right: 0;
}

.right{
	background-color: purple;
	width: 800px;
	min-height: 200px;
	overflow: hidden;
	position: relative;
	float: right;
	display: flex;
}


.right1{
	float: left;
	background-color: purple;
	width: 600px;
	min-height: 200px;
	overflow:hidden;
}


.right2{
	float: right;
	background-color: blue;
	width: 200px;
	min-height: 200px;
}

.add_box{
	background-color: yellow;
	border: 1px solid black;
	position: fixed;
	width: 50px;
	min-height: 30px;
	margin-top: 20px; 
    margin-left: 760px; 

}