.wrapper{
	width: 960px;
	min-height: 450px;
	border: 1px solid black;
	margin-top:0; 
    margin-right:auto; 
    margin-bottom:0; 
    margin-left:auto;
}

.header{
	min-height: 150px;
	width: 960px;
	background-color:red;
}

.footer{
	min-height: 100px;
	width: 960px;
	background-color: gray;
}

.left{
	width: 320px;
	min-height: 200px;
	background-color: green;
    float: left;
    overflow:hidden;
}

.right{
	width:640px;
	min-height: 200px;
	background-color: blue;
}

.body{
	display: flex;
    width: 960px;
    min-height: 200px;

}

.right_top{
	width: 640px;
	min-height: 100px;
}

.top_left{
	width: 320px;
	min-height: 100px;
	background-color: yellow;
	float: left;
}

.top_right{
	width: 320px;
	min-height: 100px;
	background-color: purple;
	float: left;
}

.right_bottom{
	display: flex;
	width: 640px;
	min-height: 100px;
	background-color: blue;
	overflow: hidden;
}