@font-face {
    font-family: 'hugs_and_kisses_xoxo_demoRg';
    src: url('fonts/hnk-webfont.woff2') format('woff2'),
         url('fonts/hnk-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}



body{
	background-color:#ecf0f1;
	
}

.row-top {
	padding-top: 50px;
}

.header {
 
  font-size: 250%;
}

.header1 {
	font-size:100%;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 3px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

.body1{
	background-color:#95a5a6;
}

table{
	 position:center;
	 font-size: 100%
         
}

.chill{
	font-size:250%;
	font-family: 'hugs_and_kisses_xoxo_demoRg';
}

.table1{
	text-indent: 50px;
}

.indent{
	list-style-position: outside;
}

.verticalLine {
    border-left: 1px solid #ccc;
}


.margin{

    margin-right: 10px;
    margin-left: 10px;
}